/* Navbar */

.navbar {
    font-size: 1.4rem;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 22rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
    font-family: 'Poppins', sans-serif;
}

.left-container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
}

.navbar a {
    color: #000;
}

.navbar ul {
    list-style: none;
}

.right-container ul li {
    display: block;
    float: left;
    padding-right: 4rem;
    font-family: 'Poppins', sans-serif;
}

.right-container ul li a {
    text-decoration: none;
    font-size: 2rem;
}

.navbar-mobile {
    display: none;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 500px) {
    .navbar {
        display: none;
    }

    .left-container {
        display: none;
    }

    .right-container {
        display: none;
    }

    .navbar-mobile {
        font-size: 1.4rem;
        color: #000;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 2rem;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .navbar-button button {
        outline: none;
        border: none;
        color: black;
        background: none;
    }

    .navbar-mobile-container {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        transition: .5s all ease-in-out;
    }

    .navbar-mobile-content {
        width: 100%;
        height: 25dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-mobile-content .home {
        position: relative;
        text-decoration: none;
        font-size: 3rem;
        color: black;
    }

    .navbar-mobile-content .home::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: rgba(132, 47, 213, 1);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .navbar-mobile-content .home:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .navbar-mobile-content .home:hover {
        color: rgba(132, 47, 213, 1);
        transition: 0.4s all ease;
    }

    .navbar-mobile-content .manage {
        position: relative;
        text-decoration: none;
        font-size: 3rem;
        color: black;
    }


    .navbar-mobile-content .manage::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: rgba(132, 47, 213, 1);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .navbar-mobile-content .manage:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .navbar-mobile-content .manage:hover {
        color: rgba(132, 47, 213, 1);
        transition: 0.4s all ease;
    }
}